.footer {
    position: fixed;
    bottom: 0;
    // left: 0;
    width: 100%;
    background-color: #BF1543;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alex brush", Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    font-size: x-large;
}
